@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto-v20-latin-regular.woff");
}

@font-face {
  font-family: PlayfairDisplay;
  src: url("../fonts/playfair-display-v15-latin-regular.woff");
}

h1, h2, h3, h4, li {
  font-weight: normal;
}

.about-container {
  font-family: Roboto, san-sans-serif;
  letter-spacing: 0.08em;
  padding: 1.25rem;
  font-size: .75rem;
  max-width: 90rem;
}

.about-me-container{
  position: relative;
  padding: .001rem 1.25rem;
}

.about-me-container::after {
  content: "";
  background-image: url("../images/about-profile-picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.about-me-box {
  max-width: 64rem;
}

.small-header {
  color: #4d4d4d;
  margin-top: 3.375rem;
}

.large-header {
  font-family: PlayfairDisplay;
  margin-top: .375rem;
  margin-bottom: 32.5rem;
}

.plunge-paragraph {
  padding-top: 3.375rem;
  padding-bottom: 1.25rem;
}

@media only screen and (min-width: 1024px) {
  .plunge-paragraph {
    max-width: 42rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.about-section-font {
  font-size: .75rem;
}

@media only screen and (min-width: 768px) {
  .about-section-font  {
    font-size: .875rem;
  }
}
@media only screen and (min-width: 1024px) {
  .about-section-font  {
    font-size: 1rem;
  }
}

.about-section-header {
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .about-section-header  {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1024px) {
  .about-section-header  {
    font-size: 1.5rem;
  }
}

.job-section {
  background-color: #C4C4C4;
  margin-left: 20px;
  margin-right: 20px;
  padding: 24px 36px;
  max-width: 42rem;
}

@media only screen and (min-width: 1024px) {
  .job-section {
    margin-left: auto;
    margin-right: auto;
  }
}

.last-paragraph {
  font-size: 12px;
  letter-spacing: 0.08em;
  max-width: 42rem;
}

@media only screen and (min-width: 1024px) {
  .last-paragraph {
    padding-left: 0;
    padding-right: 0;
  }
}
