@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto-v20-latin-regular.woff");
}

@font-face {
  font-family: PlayfairDisplay;
  src: url("../fonts/playfair-display-v15-latin-regular.woff");
}

h1, h2, h3, h4, li {
  font-weight: normal;
}

.form_shell{
  background-color: rgba(243, 243, 243, 0.95);
  font-family: Roboto, san-sans-serif;
  letter-spacing: 0.08em;
  padding: 1.25rem;
  font-size: .75rem;
  max-width: 90rem;
}
