@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto-v20-latin-regular.woff");
}

@font-face {
  font-family: PlayfairDisplay;
  src: url("../fonts/playfair-display-v15-latin-regular.woff");
}

h1, h2, h3, h4, li {
  font-weight: normal;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

body {
  margin: 0;
}

html {
  line-height: 1.5;
}

a:link {
  text-decoration: none;
  color: #4d4d4d;
}

a:visited {
  text-decoration: none;
  color: #4d4d4d;
}

a:hover {
  text-decoration: underline;
  color: #4d4d4d;
}

a:active {
  text-decoration: none;
  color: #4d4d4d;
}

img {
  max-width: 100%
}

.main-container {
  font-family: Roboto, san-sans-serif;
  letter-spacing: 0.08em;
  padding: 1.25rem .5rem;
}

.navbar-position {
  position: sticky;
  top: 0;
  background-color: rgba(243, 243, 243, 0.95);
  z-index:1;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25rem;
  max-width: 64rem;
}

.navbar-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 0%;
  margin-left: 1.25rem
}

@media only screen and (min-width: 768px) {
  .navbar-section{
    margin-left: 16rem;
  }
}

.navbar-word {
  color: #4d4d4d;
  font-size: .875rem;
  font-family: Roboto, san-sans-serif;
  letter-spacing: 0.08em;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .navbar-word {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar-word {
    font-size: 1.25rem;
  }
}

.info-section {
  background-image: url("../images/heroimage.png");
  background-size: cover;
  padding-bottom: 7.5rem;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.intro-header {
  color: #4d4d4d;
  margin-top: 4.5rem;
  margin-bottom: 3.75rem;
  font-size: 1rem;
}

.intro-message {
  color: #303030;
  letter-spacing: 0em;
  margin-bottom: 3.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.625;
  max-width: 24rem;
  animation-delay: 1s;
}

@media only screen and (min-width: 768px) {
  .intro-message {
  font-size: 1.875rem;
  max-width: 36rem;
  }
}

@media only screen and (min-width: 1024px) {
  .intro-message {
  font-size: 1.875rem;
  }
}

.highlighted-text {
  color: #A48863;
}

.fade-work {
  animation-delay: 2s;
}


.primary-button {
  background-color: #4d4d4d;
  border-radius: 2.9375rem;
  letter-spacing: 0.08em;
  border: none;
  color: #ffffff;
  font-size: .75rem;
  padding: 1rem 1.5rem;
  display: inline-block;
}

@media only screen and (min-width: 1024px) {
  .primary-button {
  font-size: .875rem;
  }
}


.arrow-box {
  background-color: #A48863;
  border: none;
  bottom: -1.8rem;
  padding: 1.2rem 1.75rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

/*--Landing page profile picture
.profile-backdrop {
  align-items: flex-end;
  background-image: url("../images/profile-backdrop.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 70vw;
}

.profile-picture {
  background-image: url("../images/profile-picture.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  margin-left: 25vw;
  width: 50vw;
}

.about-me-button {
  border-radius: 0rem;
  font-family: sans-serif;
  flex-grow: 1;
  font-size: .625rem;
  white-space: normal;
}
*/
.recent-work-padding {
  padding-bottom: 8rem;
}

.recent-work {
  color: #4d4d4d;
  text-align: center;
  font-size: .75rem;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  .recent-work {
  font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .recent-work {
  font-size: 1.125rem;
  }
}

.recent-arrow {
  padding-top: .75rem;
}

.fade-cs {
  animation-delay: 1s;
}

.case-study-container {
  display: flex;
  flex-direction: column;
  max-width: 64rem;
  margin-left:auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .case-study-container {
  flex-direction: row;
  }
}


.case-study-box {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  padding: 2rem 2rem;
  background-color: #f3f3f3;
  background-image: url("../images/cut-dashboard.svg");
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.case-study {
  color: #4d4d4d;
  font-size: .75rem;
  margin: 0.67em 0;
}

.case-study-name {
  color: #303030;
  font-size: 1.125rem;
  font-weight: bold;
}

.case-study-type1 {
  color: #76956C;
  font-weight: bold;
  font-size: 1.125rem;
}

.case-study-type2 {
  color: #A27870;
  font-weight: bold;
  font-size: 1.125rem;
}

.large-arrow-right {
  color: #c4c4c4;
  font-size: 1.875rem;
}

.view-work {
  color: #4d4d4d;
  display:flex;
  justify-content: space-between;
}



.skills-container {
  padding: 8rem 1.25rem;
}

@media only screen and (min-width: 768px) {
  .skills-container {
  padding: 12rem 1.25rem;
  }
}

.skills-box {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;

}

@media only screen and (min-width: 768px) {
  .skills-box {
  flex-direction: row;
  }
}

.skills-text-alignment {
  flex: 1 1 0%;
}

@media only screen and (min-width: 1024px) {
  .skills-text-alignment {
    padding-right: 12rem;
  }
}

.skills-info {
  background-color: #4d4d4d;
  color: #c4c4c4;
}


.skills-question {
  color: #ffffff;
  font-family: PlayfairDisplay;
  max-width: 31.25rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

.skills-sentences {
  letter-spacing: .08em;
  font-size: 1rem;
}

.skills-details {
  display: flex;
  flex-direction: row;
}

.skills-list {
  color: #ffffff;
  display: block;
  padding-bottom: 2rem;
  font-size: .75rem;
}

@media only screen and (min-width: 768px) {
  .skills-list {
  font-size: .875rem;
  }
}

@media only screen and (min-width: 1024px) {
  .skills-list {
  font-size: .875rem;
  }
}

.skills-list-placement {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  flex: 1 1 0%;
  margin-left: 4rem;
  margin-right: 4rem;
}

.skills-header {
  color: #A48863;
  font-size: .75rem;
}

.skills-list-padding {
  padding-left: 0rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.language {
  margin-left: 4rem;
}

.design-list {
  color: #ffffff;
  display: block;
  margin-bottom: .375rem;
  font-size: .75rem;
}

@media only screen and (min-width: 768px) {
  .design-list {
  font-size: .875rem;
  }
}

@media only screen and (min-width: 1024px) {
  .design-list {
  font-size: .875rem;
  }
}

.language-list {
  color: #ffffff;
  display: block;
  margin-bottom: .375rem;
  font-size: .75rem;
}

@media only screen and (min-width: 768px) {
  .language-list {
  font-size: .875rem;
  }
}

@media only screen and (min-width: 1024px) {
  .language-list {
  font-size: .875rem;
  }
}

.mentor-container {
  background-color: #C2B2A4;
  background: rgba(194, 178, 164, 0.3);
  color: #303030;
  padding: 8rem 1.25rem;
}

@media only screen and (min-width: 768px) {
  .mentor-container {
  padding: 12rem 1.25rem;
  }
}

.mentor-box {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .mentor-box {
  flex-direction: row;
  }
}

.mentor-text-alignment {
  flex: 1 1 0%;
}

@media only screen and (min-width: 1024px) {
  .mentor-text-alignment {
    padding-right: 12rem;
  }
}

.mentor-review {
  color: #303030;
  font-family: PlayfairDisplay;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0rem;
}

.mentor-sentences {
  letter-spacing: .08em;
  font-size: 1rem;
}

.mentor-image-container {
  display: flex;
  justify-content: space-around;
}

.mentor-image-items {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: .75rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mentor-picture {
  margin-bottom: 1rem;
}

.line-margin {
  margin: 2.5rem 1.25rem 0rem 1.25rem;
}

.thankyou-container {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.thank-you {
  color: #b2b2b2;
  font-size: .75rem;
  margin-bottom: 0rem;
}

@media only screen and (min-width: 768px) {
  .thank-you {
  font-size: .875rem;
  }
}

@media only screen and (min-width: 1024px) {
  .thank-you {
  font-size: 1.125rem;
  }
}

.work-together {
  font-family: PlayfairDisplay;
  color: #303030;
  margin-top: 0rem;
  margin-bottom: 1.875rem;
}

.footer {
  background-color: #303030;
  color: #c4c4c4;
  padding: .75rem;
  font-size: .75rem;
  text-align: right;
}

@media only screen and (min-width: 1024px) {
  .footer {
  font-size: .875rem;
  }
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-items-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 20rem;
}

.copyright {
  margin-left: 2.5rem;
}
