@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto-v20-latin-regular.woff");
}

@font-face {
  font-family: PlayfairDisplay;
  src: url("../fonts/playfair-display-v15-latin-regular.woff");
}

h1, h2, h3, h4, li {
  font-weight: normal;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.main-container {
  font-family: Roboto, san-sans-serif;
  letter-spacing: 0.08em;
  padding: 1.25rem .5rem;
}

.navbar-sections {
  color: #4d4d4d;
}

.info-section {
  background-image: url("../images/heroimage.JPG");
  background-size: cover;
  position: relative;
  text-align: center;
}


.intro-header {
  color: #4d4d4d;
}

.intro-message {
  color: #303030;
  letter-spacing: 0em;
}

.highlighted-text {
  color: #A48863;
}

.primary-button {
  background-color: #4d4d4d;
  border-radius: 2.9375rem;
  letter-spacing: 0.08em;
  border: none;
  color: #ffffff;

}

.arrow-box {
  background-color: #A48863;
  border: none;
  bottom: -30px;
  padding: 1.375rem 1.75rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.profile-backdrop {
  align-items: flex-end;
  background-image: url("../images/profile-backdrop.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 70vw;
}

.profile-picture {
  background-image: url("../images/profile-picture.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  margin-left: 25vw;
  width: 50vw;
}

.about-me-button {
  border-radius: 0rem;
  font-family: sans-serif;
  flex-grow: 1;
  font-size: .625rem;
  white-space:nowrap;
}

.skills-info {
  background-color: #4d4d4d;
  color: #c4c4c4;
}

.help-width {
  max-width: 31.25rem;
}

.skills-question {
  color: #ffffff;
  font-family: PlayfairDisplay;
}

.skills-sentences {
  letter-spacing: .08em;
}

.skills-header {
  color: #A48863;
}


.design-list {
  color: #ffffff;
  display: block;
  margin-bottom: .375rem;
}

.language-list {
  color: #ffffff;
  display: block;
  margin-bottom: .375rem;
}


.mentor-box {
  background-color: #C2B2A4;
  background: rgba(194, 178, 164, 0.3);
  color: #303030;
  padding: 8.911rem 1.25rem;
}


.mentor-review {
  color: #303030;
  font-family: PlayfairDisplay;
}

.mentor-sentences {
  letter-spacing: .08em;
}

.recent-work {
  color: #4d4d4d;
}

.case-study-box {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  padding: 2rem 2rem;
  background-color: #f3f3f3;
  background-image: url("../images/cut-dashboard.svg");
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.case-study-box > div {
  flex-grow: 1;
}

.case-study {
  color: #4d4d4d;
  font-size: .75rem;
}

.case-study-name {
  color: #303030;
  font-size: 1.125rem;
  font-weight: bold;
}

.case-study-type1 {
  color: #76956C;
  font-weight: bold;
  font-size: 1.125rem;
}

.case-study-type2 {
  color: #A27870;
  font-weight: bold;
  font-size: 1.125rem;
}

.arrow-right {
  color: #c4c4c4;
  font-size: 1.875rem;
}

.view-work {
  color: #4d4d4d;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.thank-you {
  color: #c4c4c4;
}

.work-together {
  font-family: PlayfairDisplay;
  color: #303030;
  margin-top: 0rem;
  margin-bottom: 1.875rem;
}

.footer {
  background-color: #303030;
  color: #c4c4c4;
}
