@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto-v20-latin-regular.woff");
}

@font-face {
  font-family: PlayfairDisplay;
  src: url("../fonts/playfair-display-v15-latin-regular.woff");
}

h1, h2, h3, h4, li {
  font-weight: normal;
}

.item-a {
  grid-area: cs-name;
}

.item-b {
  grid-area: dashboard;
}

.item-c {
  grid-area: summary;
}

.item-d {
  grid-area: buttons;
}

.cs-grid-layout  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr 2fr .5fr;
  grid-template-areas:
  "cs-name dashboard"
  "summary summary"
  "buttons buttons"
}


@media only screen and (min-width: 768px) {
  .cs-grid-layout  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr .5fr;
    grid-template-areas:
    "cs-name ."
    "summary dashboard"
    "summary buttons"
  }
}

.project-container {
  color: #303030;
  padding: 5rem 1.25rem;
  font-family: Roboto, san-sans-serif;
  font-size: .75rem;
  letter-spacing: 0.08em;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-sections {
  color: #4d4d4d;
}

.cs-top-box::after {
  content: "";
  background-color: #C2B2A4;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.light-gray-font {
  color: #4d4d4d;
  margin-top: 0rem;
}

.bridge-header {
  color: #303030;
  font-family: PlayfairDisplay;
  margin-top: .375rem;
  margin-bottom: 0rem;
}

.secondary-button {
  background-color: #ffffff;
  border-radius: 2.9375rem;
  border: .0625rem solid black;
  color: #303030;
  letter-spacing: 0.08em;
}

.arrow-box {
  background-color: #A48863;
  border: none;
  bottom: -1.875rem;
  padding: 1.375rem 1.75rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}


.remove-bullet {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
}

@media only screen and (min-width: 768px) {
  .side-borders {
    border-left: .0625rem solid gray;
    border-right: .0625rem solid gray;
  }
}

.dark-gray-font {
  font-family: PlayfairDisplay;
}

.list-height {
    line-height: 1.875rem;
}

.data-background {
  background: rgba(207, 203, 203, 0.3);
}

.data-section {
  background-color: #FFFFFF;
}

.item-1 {
  grid-area: prevalence;
}

.item-2 {
  grid-area: personal;
}

.item-3 {
  grid-area: most;
}

.item-4 {
  grid-area: sharing;
}

.item-5 {
  grid-area: creating;
}

.item-6 {
  grid-area: ease;
}

@media only screen and (min-width: 0px) {
  .data-grid-layout  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-template-areas:
    "prevalence personal"
    "most sharing"
    "creating ease"
  }
}

@media only screen and (min-width: 768px) {
  .data-grid-layout  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 50px;
    grid-template-areas:
    "prevalence personal most"
    "sharing creating ease"
  }
}

.persona-name {
  letter-spacing: 0.08em;
}

.margin0 {
  margin: 0px;
  line-height: 1.125rem;
}

.header-gap {
  margin-top: 2.25rem;
}

.left-border {
    border-left: .0625rem solid gray;
}






















.occupation {
  color: #4d4d4d;
}

.participants-section {
  padding: 18px 36px;
}

.playfair {
  font-family: PlayfairDisplay;
}

.twocolumns-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.twocolumns-items {
  margin-left: 12px;
}

.top-bottom {
  display: flex;
  flex-direction: column;
}

.prototype-spacing {
  order: 1;
}

.grey-line {
  color: #f3f3f3;
}







.line-padding2 {
  margin-left: 20px;
  margin-right: 20px;
}

.line-padding {
  margin-left: 0px;
  margin-right: 0px;
}

.thank-you-box {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}


.thank-you {
  color: #c4c4c4;
  font-size: 12px;
  margin-bottom: 0px;
}

.work-together {
  font-family: PlayfairDisplay;
  font-weight: bold;
  color: #303030;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #303030;
  color: #c4c4c4;
  font-size: 10px;
  text-align: right;
  line-height: 10px;
  padding: 20px 20px;
}

.about-me {
  display: flex;
  padding: 1.25rem;
}
